body {
    font-family: 'Young Serif', serif;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #e6b89c;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: #0c7c59;
    display: flex;
}

.navbar {
    background-color: #0c7c59;
    color: #e6b89c;
    padding: 20px;
    display: flex;
    flex: 1;
    margin: 0;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #e6b89c;
    text-align: center;
}

.navbar li {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-events {
    background-color: #e6b89c;
    color: #0c7c59;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather {
    background-color: #0c7c59;
    color: #e6b89c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-spotlight {
    background-color: #e6b89c;
    color: #0c7c59;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #0c7c59;
    color: #e6b89c;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu::before {
    content: "≡"
}

#menu.open::before {
    content: "✖️"
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}