@media only screen and (min-width: 40em) {

    body .navbar {
      display: flex;
      margin: 0;
    }

    body .navbar ul {
        display: flex;
        flex: 1 1 100%;
    }
    
    body .navbar li {
      display: flex;
      flex: 1 1 100%;
    }
  
    body .navbar a {
      text-align: center;
    }
  
    body #menu {
      display: none;
    }

    .discover {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .sidebar {
      grid-column: 1;
      width: 100%;
    }

    .localphotos {
      grid-column: 2;
      width: 100%;
    }
  }