body {
    background-color: #f7ebcc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f7ebcc;
    font-family: 'Young Serif', serif;
}

header {
    background-color: #4a2b1a;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header h1 {
    font-size: 50px;
    color: #f7ebcc;
    display: inline;
}

header img {
    display: inline;
}


nav {
    max-width: 100%;
    background-color: #C2E1BB;
    color: #4a2b1a;
}

nav ul {
    list-style-type: none;
}

.navbar li {
    display: none;
}

.navbar a {
    text-decoration: none;
    color: #4a2b1a;
    padding: 14px 25px;
    padding-right: 65px;
    text-align: center;
}

main {
    padding: 16px;
    margin-top: 30px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #4a2b1a;
    background-color: #f7ebcc;
    grid-template-columns: 1fr 1fr 1fr;
}

section {
    grid-column: 1 / 2;
}

section ul {
    list-style-type: none;
    padding-right: 35px;
}

section a {
    text-decoration: none;
    color: #4a2b1a;
}

footer {
    background-color: #4a2b1a;
    color: #f7ebcc;
    padding: 10px;
    text-align: center;
}

.card {
    background-color: #68C9D2;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    text-align: center;
}

h3 {
    background: #F8C0BF;
    color: #4a2b1a;
    padding: 10px;
    margin: -20px;
    margin-bottom: 20px;
}

#menu {
    display: block;
    background-color: #C2E1BB;
    font-size: 1rem;
    border: 1px solid rgba(0,0,0,0.3);
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#menu::before{
    content: "≡"
}

#menu.open::before {
    content: "✖️"
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before{
    content: "➡️"
}

.navbar li a:hover {
    background-color: #4a2b1a;
    color: #f7ebcc;
}


.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
	height: 300px;
}

.hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 500px;
	left: 60px;
	background: radial-gradient(#fff, #e6b89c);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;
	/* Buenas */
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 700;
	font-size: 2rem;
}

