body {
    //background-color: #f7ebcc;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f7ebcc;

}

header {
    background-color: #4a2b1a;
    color: #f7ebcc;
    padding: 30px;
    text-align: center;
    font-size: 25px;
}

nav {
    background-color: #C2E1BB;
    color: #4a2b1a;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
}

main {
    padding: 16px;
    margin-top: 30px;
    //height: 1500px; /* Used in this example to enable scrolling */
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #4a2b1a;
    background-color: #f7ebcc;
}

footer {
    background-color: #4a2b1a;
    color: #f7ebcc;
    padding: 10px;
    text-align: center;
}

.card {
    background-color: #68C9D2;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: center;
    text-align: center;
}

h3 {
    background: #F8C0BF;
    color: #4a2b1a;
    padding: 10px;
    margin: -20px;
    margin-bottom: 20px;
}
